  {% extends "skeleton.html" %}

  {% block title %}{{ page.title }}{% endblock %}

	{% block content %}

    <div class="sAlertMessageWrapper"></div>

    <div class="sPopupWrapper">

      <div class="sPopupWrapper-Modal" data-modal="money" style="background-color: #efefef; width: 418px; height: 242px;">
        <p style="color: #636d7a; font: 300 25px / 18px Roboto-Light; margin-bottom:36px;">Вывод средств</p> 
        <input class="sAuthForm-Input" form="balanceForm" required type="text" name="summ" placeholder="{{ user.cabinet_webmaster.money }}" value=""/><br/>
        <form id="balanceForm" style="display:none; opacity:0;" method="post" action="{% url "cabinet-webmaster-balance" %}">
            {% csrf_token %}
            <input type="submit" />
        </form>
        <span data-modal="sendmoney">Отправить</span>
        <span data-modal="close"></span>
      </div> 

    </div>

  <div class="sContent-PB">
      <div class="sContainer sMargin-Auto">

          <div class="sH1Wrapper" style="border-bottom: 1px solid rgb(143, 143, 143); padding-bottom: 0px;">
              <h1 class="sH1 sFloat-L">{{ page.header }}</h1>
              <span class="sDisplay-Inline sFloat-R" data-event="money">Вывести средства</span>
              {% if user.is_staff and request.session.profile %}
                <span class="sBigMoney sFloat-R s735Font-Size-20PX">{{ request.session.profile.money }}</span>
              {% else %}
                <span class="sBigMoney sFloat-R s735Font-Size-20PX">{{ user.cabinet_webmaster.money }}</span>
              {% endif %}
              <div class="sClear-Both"></div>
          </div>    
          
          <div style="padding: 0px 15px; margin: 0px 5px; border-bottom: 1px solid rgb(237, 237, 237);">
              <span class="sStdText sTextColor-Black sFloat-L">Баннер</span>
              {% if user.is_staff and request.session.profile %}
                <span class="sStdText sTextColor-Blue sFloat-R">{{ request.session.profile.money }}</span>
              {% else %}
                <span class="sStdText sTextColor-Blue sFloat-R">{{ user.cabinet_webmaster.money }}</span>
              {% endif %}
              <div class="sClear-Both"></div>
          </div>
          <div style="padding: 0px 20px; background-color:#ededed;">
              <span class="sBoldText sTextColor-Black sFloat-L">Всего</span>
              {% if user.is_staff and request.session.profile %}
                <span class="sBoldText sTextColor-Blue sFloat-R">{{ request.session.profile.money }}</span>
              {% else %}
                <span class="sBoldText sTextColor-Blue sFloat-R">{{ user.cabinet_webmaster.money }}</span>
              {% endif %}
              <div class="sClear-Both"></div>
          </div>
          
          <div class="sTableAreas" style="margin-top:70px;">
              <div class="sTableAreasFieldName">
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Дата подачи</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>Статус</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>Сумма</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>Кошелёк</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>Дата обработки</span>
                  </div>
              </div>

              {% for balance in balances %}
              <div class="sTableAreasCell">
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.showCreateDate }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span class="sBalanceStatus" data-status="{{ balance.get_status_display }}"></span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>{{ balance.money }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>{{ balance.wmr }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    {% if balance.status == "WAI" %}
                      <span class="sBalanceAdmStatus">{{ balance.showStatus }}</span>
                    {% else %}
                      <span>{{ balance.showUpdateDate }}</span>
                    {% endif %}
                  </div>
              </div>
              {% endfor %}

          </div>         


      </div>
  </div>
	{% endblock %}

  {% block footer_script %}

        <script>

          $(function(){

             $('[data-event]').click(function(){
                 $('.sPopupWrapper').show();
                 var event = $(this).data('event');
                 $('[data-modal="'+event+'"]').show();
             }); 
              
             $('[data-modal="close"]').click(function(){
                $('.sPopupWrapper-Modal').hide(); 
                $('.sPopupWrapper').hide();
             });  
        
             $('[data-modal="sendmoney"]').click(function(){
                 var summ = $('input[name="summ"]').val();
                 
                 if(summ){
                      $.ajax({ 
                        url: "{% url "cabinet-webmaster-balance" %}", 
                        type: "POST", 
                        data: {"summ": summ}, 
                        success: function(response, status, jqXHR) { 
                            console.log(response);

                            $('[data-modal="close"]').click();

                            if(response == 'OK'){
                                window.location.reload();
                            }else{
                                $('.sAlertMessageWrapper').text(response).fadeIn('slow');
                                window.setTimeout(function(){
                                  $('.sAlertMessageWrapper').text('').fadeOut('slow');
                                },2000);
                            }

                            }
                        });
                 }else{
                    $('.sAlertMessageWrapper').css('z-index','2').text("Ошибка! Введите сумму!").fadeIn('slow');
                    window.setTimeout(function(){
                      $('.sAlertMessageWrapper').css('z-index','1').text('').fadeOut('slow');
                    },2000); 
                 }

             }); 

         }); 

        </script>

  {% endblock %}
