@media only screen and (max-width:1200px) {

    .sContainer{
        width: 1000px;
    }
    .sHeaderBox-Menu{
        width: 429px;
    }
    .sFooterBox-Menu{
        margin-right: 100px;
    }
    .sHeaderBox-Menu > label.sUnderpants{
        opacity: 1;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(1){
        opacity: 0;
        margin-right: -100px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(2){
        opacity: 0;
        margin-right: -150px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(4){
        opacity: 1;
        margin-right: 0;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(5){
        opacity: 1;
        margin-right: 0;
    }
    .sHeaderBox-Menu > input.sInputH:checked ~ label{
         transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);        
    }
    .sHeaderBox-Menu > input.sInputH + div > a:nth-child(4){
        opacity: 0;
        margin-right: 100px; 
    }
    .sHeaderBox-Menu > input.sInputH + div > a:nth-child(5){
        opacity: 0;
        margin-right: 100px; 
    }
    .sHeaderBox-Menu > input.sInputH ~ label{
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);         
    }
   /*21/04/2016*/ 
    .sBtnConstructor > .sFormPad{
        float:none;
        width:auto!important;
    }
    .sFormPad-Wrapper > .sBSExample{
        width:auto;
    }
    
}
@media only screen and (max-width:1030px) {

    .sContainer{
        width: 900px;
    }
    .sHeaderBox-Menu{
        width: 400px;
    }
    .sHeaderBox-Menu > div > a{
        margin-left: 36px;
    }
    .sFooterBox-Menu{
        margin-right: 0;        
    }
    .sFooterBox-Menu > div > a:not(:last-of-type){
        margin-right: 62px;        
    }
    .sSettings-Field-Edit > div > label{

    }
    .sSettings-Field-Edit > div{
        width: 271px;
    }
   /*21/04/2016*/ 
    .sBtnConstructor > .sFormPad{
        float:none;
        width:auto!important;
    }
    .sFormPad-Wrapper > .sBSExample{
        width:auto;
    }
    
}
@media only screen and (max-width:936px) {

    .sContainer{
        width: 800px;
    }
    .sHeaderBox-Menu{
        width: 300px;
    }
    .sHeaderBox-Menu > div > a{
       margin-left: 26px;
    }
    .sFooterBox-Menu{
        width: 339px; 
        margin-right: 50px;
    }
    .sFooterBox-Menu > div > a:not(:last-of-type){
        margin-right: 50px;        
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(2){
        margin-right: -125px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(3){
        opacity: 1;
    }
    .sHeaderBox-Menu > input.sInputH + div > a:nth-child(3){
        opacity: 0;
    }
   /*21/04/2016*/ 
    .sBtnConstructor > .sFormPad{
        float:none;
        width:auto!important;
    }
    .sFormPad-Wrapper > .sBSExample{
        width:auto;
    }

}
@media only screen and (max-width:835px) {

    .sContainer{
        width: 700px;
    }
    .sHeaderBox-Menu{
        width: 200px;
    }
    .sFooterBox-Menu{
        width: 249px;         
    }
    .sFooterBox-Menu > div > a:not(:last-of-type){
        margin-right: 15px;        
    }
    .sHeaderBox-Menu > input.sInputH:checked ~ label{
         transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .sHeaderBox-Menu > input.sInputH ~ label{
         transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    input.sInputH:checked ~ .sMenu-Dd{    
        visibility: visible;
        opacity: 1;
        height: 178px;
    }
    .sHeaderBox-Menu > div:first-of-type{
        z-index: 2;
        position: relative;
    }
    .sHeaderBox-Menu > input.sInputH + div > a:not(:first-of-type){
        opacity: 0;
    }
    .sHeaderBox-Menu > input.sInputH + div > a:nth-child(1){
        margin-left: 27px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:not(:first-of-type){
        opacity: 0;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(1){
        opacity: 1;
        margin-left: 27px;
        vertical-align: -25px;
    }
    .sHeaderBox-Menu > div > a{
        margin-left: 24px;
    }
    .sSettings-Field-Edit > span:nth-child(1){
        width: 250px;
    }
   /*21/04/2016*/ 
    .sBtnConstructor > .sFormPad{
        float:none;
        width:auto!important;
    }
    .sFormPad-Wrapper > .sBSExample{
        width:auto;
    }

}
@media only screen and (max-width:735px) {
    
    .sContainer{
        width: 380px;   
    }
    .sHeaderBox-Menu{        
        width: 132px;
    }
    .sHeaderBox-Money{
        width: 27px;
    }
    .sHeaderBox-WmMenu{       
        width: 40px;
    }
    .sHeaderBox-Menu > div > a {
        margin-left: 7px;
    }
    .sHeaderBox-Menu > input.sInputH + div > a:nth-child(1) {
        margin-left: 10px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(1){
        margin-left: 10px;
    }
    .sHeaderBox-WmMenu > input.sInputH ~ div:first-of-type{
        opacity: 0;
        width: 0;
    }
    .sWmMenu{
        top: 10px;
        left: -100px;        
    }
    input.sInputH:checked ~ .sWmMenu{    
        visibility: visible;
        opacity: 1;
        height: 66px;
    }
    .sWmMenuSpace{
        display: none;
    }
    .sMenu-Dd{
        width: 119px;
    } 
    .sHeaderBox-WmMenu > input.sInputH ~ label{                 background: url(../images/three-bars-16-w.png);
        background-repeat: no-repeat;
        background-position: 0 45%;
        background-size: 100% auto;
        width: 20px;
    }
    .sHeaderBox-WmMenu > input.sInputH:checked ~ label{         background: url(../images/three-bars-16-g.png);
        background-repeat: no-repeat;
        background-position: 0 45%;
        background-size: 100% auto;
        width: 20px;
    }
    .sHeaderBox{
        border-left: 0;
    }
    .sHeaderBox-Money > div > a.sWmMoney{
        margin: 6px 0px 0px 0px;
    }
    .sFooterBox-Menu{
        display: none;
    }
    .sFooterBox-Sn{
        width: 199px;
    }
    .sFooterBox-Sn > div > a:not(:first-of-type){
        margin-left: 0;
    }
    .sFooterBox-Sn > div > a:not(:last-of-type){        
        margin-right: 11px;
    }
    .sHeaderBox-Menu > input.sInputH:checked + div > a:nth-child(1){
        vertical-align: -20px;   
    }
    .sSettings-Title{
        font-size: 29px;
    }
    .sCabinet-GlobalSettings{
        padding-top: 34px;
    }
    .sSettings-Field-Edit > span:nth-child(1){
        display: none;
    }
    .sSettings-Field-Edit > div{
        width: 171px;
    }
    
}

@media only screen and (max-width:401px) {
    
    body{
        min-width: 400px;
        overflow: auto!important;
       
    }
    
}
