  {% load staticfiles %}
<!DOCTYPE html>
 <html lang="en" class="sHeight-100p">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <link href="{% static "sharewall-template/css/header.css" %}" rel="stylesheet"> 
    <link href="{% static "sharewall-template/css/media-queries.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "sharewall-template/css/highslide.css" %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  </head>
  <body class="sWidth-100p sHeight-100p sOverHidden-X">
    <div class="sWrapper">
        <div class="sHeight-Auto">
            <div class="sContainer sMargin-Auto" style="width:100%;">
                <div class="sListConstructors" style="padding-bottom:0px">
                    <div id="highCharts" style="padding-bottom: 40px; min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>

                <div class="sTableAreas sTextAlign-C">
                    <div class="sTableAreasFieldName">
                        <div class="sTableAreasField s1030Hide" style="width:162px;"><span style="padding:0 20px 0 20px; text-align:center;"></span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:110px;"><span style="padding:0 20px 0 20px; text-align:center;">Вконтакте</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:100px;"><span style="padding:0 20px 0 20px; text-align:center;">Facebook</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:85px;"><span style="padding:0 20px 0 20px; text-align:center;">Twitter</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:145px;"><span style="padding:0 20px 0 20px; text-align:center;">Одноклассники</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:92px;"><span style="padding:0 20px 0 20px; text-align:center;">Google+</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:154px;"><span style="padding:0 20px 0 20px; text-align:center;">МойМир@Mail.ru</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:94px;"><span style="padding:0 20px 0 20px; text-align:center;">LinkedIn</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:115px;"><span style="padding:0 20px 0 20px; text-align:center;">LiveJournal</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:80px;"><span style="padding:0 20px 0 20px; text-align:center;">Всего</span>
                        </div>
                    </div>
                      
                    <div class="sTableAreasCell">
                        <div class="sTableAreasField s1030Hide" style="width:162px;"><span style="padding:0 20px 0 20px; text-align:center; color:#1693d5;">Шаринг за период</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:110px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.vk }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:100px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.fb }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:85px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.tw }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:145px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.od }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:92px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.gp }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:154px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.ma }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:94px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.li }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:115px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.lj }}</span>
                        </div>
                        <div class="sTableAreasField s936Width-10P" style="width:80px;"><span style="padding:0 20px 0 20px; text-align:center;">{{ statistic.all }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="{% static "sharewall-template/js/highcharts.js" %}"></script>
    <script src="{% static "sharewall-template/js/exporting.js" %}"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script src="{% static "sharewall-template/js/highslide-full.min.js" %}"></script>
    <script src="{% static "sharewall-template/js/highslide.config.js" %}" charset="utf-8"></script>
    <script>
        $(function () {
            $('#highCharts').highcharts({
                title: {
                    text: '',
                    x: -20 
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                  categories: {{ dates|safe }}
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                //tooltip: {
                //    valueSuffix: ' просмотров'
                //},
                legend: {
                    layout: 'horizontal',
                    //align: 'top',
                    x: -20,
                    verticalAlign: 'top',
                    borderWidth: 0
                },
                series: [
                {
                    name: 'Вконтакте',
                    data: {{ todayVK }}
                },
                {
                    name: 'Facebook',
                    data: {{ todayFB }}
                }, 
                {
                    name: 'Twitter',
                    data: {{ todayTW }}
                },
                {
                    name: 'Одноклассники',
                    data: {{ todayOD }}
                },
                {
                    name: 'Google+',
                    data: {{ todayGP }}
                },
                {
                    name: 'МойМир@Mail.ru',
                    data: {{ todayMA }}
                },
                {
                    name: 'LinkedIn',
                    data: {{ todayLI }}
                },
                {
                    name: 'LiveJournal',
                    data: {{ todayLJ }}
                }
                ]
            });

            try{
              window.parent.fillPages({{ list_page_detail|safe }});
            }
            finally{
              $('.highcharts-button').hide();
              $('svg > text:last-of-type').hide();
              window.parent.$('input#inputDate').val("{{ dates_range_start|safe }} - {{ dates_range_end|safe }}");
            }

        });
    </script>
  </body>
</html>
