  {% extends "skeleton.html" %}
  {% load staticfiles %}

  {% block custom_style %}
      <link rel="stylesheet" type="text/css" href="{% static "sharewall-template/css/highslide.css" %}"/>
  {% endblock %}   
  {% block header %}
    <div id="header" class="sBd-BlueH sWidth-100p">
          <div class="sContainer sMargin-Auto">
          <div class="sHeaderWrapper">
              <div class="sHeaderBox sHeaderBox-WmMenu sFloat-R sPos-Rel"> 
                  <input type="checkbox" id="sWmInput" class="sInputH">
                  <label for="sWmInput" class="sUnderpants sFloat-R sPos-Rel sZi-2"></label>
                  <div class="sOverHidden-All sTextAlign-L">
                      <span class="sVAlign-50p sPos-Rel sZi-2">
                          {{ user.username }}
                      </span>
                  </div> 
                  <div class="sWmMenu sPos-Rel sZi-1">
                      <span class="sWmMenuSpace"></span>
                      <a href="/cabinet-webmaster/">Настройки</a>
                      <a href="/logout/">Выйти</a>
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Money sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sWmMoney sFloat-L"></a>
                      <span class="sVAlign-50p sPos-Rel">
                          {{ user.cabinet_webmaster.money }} p.                    
                      </span>
                  </div> 
              </div>
              <div class="sHeaderBox sHeaderBox-Menu sFloat-R sPos-Rel">
                  <input type="checkbox" id="sHeaderMenuInput" class="sInputH">
                  <div class="sOverHidden-All">
                      <a href="/webmaster-area/" class="sVAlign-50p">Площадки</a>
                      <a href="/buttons-constructor/" class="sVAlign-50p">Конструктор</a>
                      <a href="/webmaster-area/statistic/" class="sVAlign-50p">Статистика</a>
                      <a href="javascript:return false;" class="sVAlign-50p">Рефералы</a>
                      <a href="javascript:return false;" class="sVAlign-50p">FAQ</a>
                  </div>                
                  <label for="sHeaderMenuInput" class="sUnderpants sFloat-R sPos-Rel sZi-2"></label> 
                  <div class="sMenu-Dd sPos-Rel sZi-1">
                      <span class="sWmMenuSpace"></span>
                      <a href="/buttons-constructor/">Конструктор</a>
                      <a href="/webmaster-area/statistic/">Статистика</a>
                      <a href="javascript:return false;">Рефералы</a>
                      <a href="javascript:return false;">FAQ</a>
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Logo sFloat-L sPos-Rel">
                  <a href="/" class="sFloat-L">
                      Sharing
                  </a>
              </div>
          </div>
          </div>
      </div>
  {% endblock %}

  {% block title %}{{ page.title }}{% endblock %}

	{% block content %}
  <div class="sHeight-Auto">
      <div class="sContainer sMargin-Auto">
          <div class="sListConstructors">
              
              <h2 class="sH2">Статистика</h2>
              <span class="sTextAlign-C">Площадки</span>
              <div class="sGLine"></div>
              <div class="sAreaChoices-Line">
                  {% for a in areas %}
                  <span onclick="showDetail(this)">{{ a.name_area }}</span>
                  {% endfor %}
              </div>
              
          
              <div class="sStatistic">
              </div>
          </div>
      </div>
  </div>
	{% endblock %}

  {% block footer %}
       <div id="footer" class="sBd-GrayF sWidth-100p">
          <div class="sContainer sMargin-Auto">
          <div class="sFooterWrapper">
              <div class="sFooterBox sFooterBox-Logo sFloat-L sPos-Rel">
                  <a href="/" class="sFloat-L">
                      Sharing
                  </a>
              </div>
              <div class="sFooterBox sFooterBox-Sn sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Fb">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Tw">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Vk">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Ok">              </a>
                  </div>
              </div>
              <div class="sFooterBox sFooterBox-Menu sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Вебмастеру
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Возможности
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          FAQ
                      </a>
                  </div>
              </div>
          </div>
           </div>
        </div>
        <script>
            $(function(){
                $('.sAreaChoices-Line > span:first-of-type()').click().addClass('sActive');
            });
            function showDetail(e){
              $this = $(e);
              $('.sAreaChoices-Line > span').removeClass('sActive');
                $('iframe').remove();
                $('<iframe src="/webmaster-area/detail/'+$this.text()+'" style="width: 100%; min-height: 450px;" frameborder="0" scrolling="no" id="detail"></iframe>').appendTo('.sStatistic');
              $this.addClass('sActive');
            }
        </script>
  {% endblock %}
