  {% extends "skeleton.html" %}
  {% load staticfiles %}

  {% block custom_style %}
      <link rel="stylesheet" type="text/css" href="{% static "sharewall-template/css/highslide.css" %}"/>
      <link rel="stylesheet" media="screen" type="text/css" href="{% static "sharewall-template/css/datepicker.css" %}"/>
      <script type="text/javascript" src="{% static "sharewall-template/js/datepicker.js" %}"></script>
      <script type="text/javascript" src="{% static "sharewall-template/js/eye.js" %}"></script>
      <script type="text/javascript" src="{% static "sharewall-template/js/utils.js" %}"></script>

  {% endblock %}    
  {% block header %}
    <div id="header" class="sBd-BlueH sWidth-100p">
          <div class="sContainer sMargin-Auto">
          <div class="sHeaderWrapper">
              <div class="sHeaderBox sHeaderBox-WmMenu sFloat-R sPos-Rel"> 
                  <input type="checkbox" id="sWmInput" class="sInputH">
                  <label for="sWmInput" class="sUnderpants sFloat-R sPos-Rel sZi-2"></label>
                  <div class="sOverHidden-All sTextAlign-L">
                      <span class="sVAlign-50p sPos-Rel sZi-2">
                          {{ user.username }}
                      </span>
                  </div> 
                  <div class="sWmMenu sPos-Rel sZi-1">
                      <span class="sWmMenuSpace"></span>
                      <a href="/cabinet-webmaster/">Настройки</a>
                      <a href="/logout/">Выйти</a>
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Money sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sWmMoney sFloat-L"></a>
                      <span class="sVAlign-50p sPos-Rel">
                          {{ user.cabinet_webmaster.money }} p.                    
                      </span>
                  </div> 
              </div>
              <div class="sHeaderBox sHeaderBox-Menu sFloat-R sPos-Rel">
                  <input type="checkbox" id="sHeaderMenuInput" class="sInputH">
                  <div class="sOverHidden-All">
                      <a href="/webmaster-area/" class="sVAlign-50p">Площадки</a>
                      <a href="/buttons-constructor/" class="sVAlign-50p">Конструктор</a>
                      <a href="/webmaster-area/statistic/" class="sVAlign-50p">Статистика</a>
                      <a href="javascript:return false;" class="sVAlign-50p">Рефералы</a>
                      <a href="javascript:return false;" class="sVAlign-50p">FAQ</a>
                  </div>                
                  <label for="sHeaderMenuInput" class="sUnderpants sFloat-R sPos-Rel sZi-2"></label> 
                  <div class="sMenu-Dd sPos-Rel sZi-1">
                      <span class="sWmMenuSpace"></span>
                      <a href="/buttons-constructor/">Конструктор</a>
                      <a href="/webmaster-area/statistic/">Статистика</a>
                      <a href="javascript:return false;">Рефералы</a>
                      <a href="javascript:return false;">FAQ</a>
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Logo sFloat-L sPos-Rel">
                  <a href="/" class="sFloat-L">
                      Sharing
                  </a>
              </div>
          </div>
          </div>
      </div>
  {% endblock %}

  {% block title %}{{ page.title }}{% endblock %}

	{% block content %}
  <div class="sBusyOverlay2" id="isEmpty" style="height: calc(100% - 139px); margin-top:62px; line-height:600px;
">
    Необходимо cоздать площадку!
  </div>
  <div class="sBusyOverlay">Загрузка...</div>
  <div class="sHeight-Auto">
      <div class="sContainer sMargin-Auto">
          <div class="sListConstructors">
              
              <h2 class="sH2">Статистика</h2>
              <span class="sTextAlign-C sTabs" data-tabs="1">Площадки</span>
              <span class="sTextAlign-C sTabs" data-tabs="2">Социальный трафик</span>
              <span class="sTextAlign-C sTabs" data-tabs="3">Заработок</span>
              <div class="sGLine"></div>
              <div class="sDatePicker" style="margin-top:26px;">
                    <label for="inputDate">Период: </label>
                    <div class="sInputDateWrapper"> 
                      <input class="inputDate" id="inputDate" value="">
                        <span class="sCalendarIcon" onclick="showDatePicker()"></span>
                    </div>
                    <span class="sFilterShow" onclick="filterDateShow()">Фильтровать</span>
                    <p id="date2"></p>
              </div>
              <div class="sAreaChoices-Line">
                  {% for a in areas %}
                  <span onclick="showDetail(this)">{{ a.name_area }}</span>
                  {% endfor %}
              </div>
          
              <div class="sStatistic">
                <div data-tabs="1"></div>
                <div data-tabs="2"></div>
              </div>
          </div>
      </div>
  </div>
	{% endblock %}

  {% block footer %}
       <div id="footer" class="sBd-GrayF sWidth-100p">
          <div class="sContainer sMargin-Auto">
          <div class="sFooterWrapper">
              <div class="sFooterBox sFooterBox-Logo sFloat-L sPos-Rel">
                  <a href="/" class="sFloat-L">
                      Sharing
                  </a>
              </div>
              <div class="sFooterBox sFooterBox-Sn sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Fb">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Tw">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Vk">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Ok">              </a>
                  </div>
              </div>
              <div class="sFooterBox sFooterBox-Menu sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Вебмастеру
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Возможности
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          FAQ
                      </a>
                  </div>
              </div>
          </div>
           </div>
        </div>
        <script>
            $(function(){
                {% if areas.count < 1 %}
                 $('div.sBusyOverlay2#isEmpty').show();
                {% endif %}
                $('.sListConstructors > span.sTabs').click(function(){
                  $this = $(this); $this.parent().find('span.sTabs').removeClass('sActive'); $this.addClass('sActive'); 
                  var tabNumber = $this.data('tabs'); 
                  $('.sStatistic > div').hide();
                  $('.sStatistic > div[data-tabs="'+tabNumber+'"]').show();
                  //$('iframe').hide();  
                  //$('iframe:nth-child('+tabNumber+')').show(); 
                  //$('iframe').remove();
                  //$('.sAreaChoices-Line > span').removeClass('sActive');
                });
                $('<iframe  style="width: 100%; " frameborder="0" scrolling="no" id="detail"></iframe>').appendTo('.sStatistic > div[data-tabs="1"]');
                $('<iframe  style="width: 100%; " frameborder="0" scrolling="no" id="detail-social"></iframe>').appendTo('.sStatistic > div[data-tabs="2"]');
                $('.sListConstructors > span:first-of-type()').click();
                $('.sAreaChoices-Line > span:first-of-type()').click();

                $('#date2').DatePicker({
                    flat: true,
                    format: 'd.m.Y',
                    date: ['10.04.2016','30.04.2016'],
                    current: '11.04.2016',
                    calendars: 3,
                    mode: 'range',
                    starts: 1,
                    onChange: function(formated, dates){
                    $('#inputDate').val(formated[0]+" " +"-"+" "+formated[1]);

                    }
                }).hide();
            });
            function showDetail(e){
              try{
              $('div.sBusyOverlay').show();
              $this = $(e);
              $('.sAreaChoices-Line > span').removeClass('sActive');
              //$('iframe').remove();
              //var tabNumber = $('.sListConstructors > span.sTabs.sActive').data('tabs');
              //if(tabNumber == 1){
              //$('<iframe src="/webmaster-area/detail/'+$this.text()+'" style="width: 100%; min-height: 450px;" frameborder="0" scrolling="no" id="detail"></iframe>').appendTo('.sStatistic > div[data-tabs="1"]');
              //$('<iframe src="/webmaster-area/detail-social/'+$this.text()+'" style="width: 100%; min-height: 450px;" frameborder="0" scrolling="no" id="detail"></iframe>').appendTo('.sStatistic > div[data-tabs="2"]');
              //}
              //else if(tabNumber == 2){
              //$('<iframe src="/webmaster-area/detail-social/'+$this.text()+'" style="width: 100%; min-height: 450px;" frameborder="0" scrolling="no" id="detailSocial"></iframe>').appendTo('.sStatistic');
              //}
              $('.sStatistic > div').show();
              $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+$this.text()).css('min-height','590px');
              setTimeout(function(){
                $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+$this.text()).css('min-height','450px');
              }, 500);
              //$('.sListConstructors > span.sTabs.sActive').click();
              $this.addClass('sActive');
              }
              catch(e){
              $('div.sBusyOverlay').hide();
              }
            }
            function setDatePicker(start, end){
                $('#date2').DatePickerSetDate([start, end], true);
            }
            function showDatePicker(){
                $('#date2').slideToggle(400);
            }
            function filterDateShow(){
                try{
                  $('div.sBusyOverlay').show();
                  $this = $('.sAreaChoices-Line > span.sActive');
                  $('.sStatistic > div').show();
                  $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+$this.text()+'/?daterange='+$('#inputDate').val()).css('min-height','590px');
                  setTimeout(function(){
                    $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+$this.text()+'/?daterange='+$('#inputDate').val()).css('min-height','450px');
                  }, 500);
                }
                catch(e){
                  $('div.sBusyOverlay').hide();
                }
            }
        </script>
  {% endblock %}
