  {% extends "skeleton.html" %}
  {% load staticfiles %}

  {% block custom_style %}
      <link rel="stylesheet" type="text/css" href="{% static "sharewall-template/css/highslide.css" %}"/>
      <link rel="stylesheet" media="screen" type="text/css" href="{% static "sharewall-template/css/datepicker.css" %}"/>
      <script type="text/javascript" src="{% static "sharewall-template/js/datepicker.js" %}"></script>
      <script type="text/javascript" src="{% static "sharewall-template/js/eye.js" %}"></script>
      <script type="text/javascript" src="{% static "sharewall-template/js/utils.js" %}"></script>

  {% endblock %}    

  {% block title %}{{ page.title }}{% endblock %}

	{% block content %}
  <div class="sBusyOverlay2" id="isEmpty" style="height: calc(100% - 139px); margin-top:62px; line-height:600px;">Необходимо cоздать площадку!</div>
  <div class="sBusyOverlay">Загрузка...</div>
  <div class="sHeight-Auto">
      <div class="sContainer sMargin-Auto">
          <div class="sListConstructors">
              
              <h2 class="sH2">Статистика</h2>
              <span class="sTextAlign-C sTabs" data-tabs="1">Площадки</span>
              <span class="sTextAlign-C sTabs" data-tabs="2">Социальный трафик</span>
              <span class="sTextAlign-C sTabs" data-tabs="3">Заработок</span>
              <div class="sGLine"></div>
              <div class="sDatePicker" style="margin-top:26px;">
                    <label for="inputDate">Период: </label>
                    <div class="sInputDateWrapper"> 
                      <input class="inputDate" id="inputDate" value="">
                        <span class="sCalendarIcon" onclick="showDatePicker()"></span>
                    </div>
                    <span class="sFilterShow" onclick="filterDateShow()">Фильтровать</span>
                    <p id="date2"></p>
              </div>
              <div class="sAreaChoices-Line">
                {% if user.is_staff and not request.session.profile %}
                <span class="sFloat-L" style="cursor:default;">ID вебмастера</span>
                <div class="sFloat-L sAreaSelectWrapper" style="margin-left:20px; width:50px;">
                  <select name="webmaster_id">
                    {% for pk, name in users_data %} 
                    <option value="{{ pk }}">{{ pk }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}</option>
                    {% endfor %} 
                  </select>
                </div>
                {% endif %}

                <a href="/webmaster-area/" class="sFloat-L">Площадки</a>
                <div class="sAreaSelectWrapper">
                  <select name="webmaster_area">
                    {% for a in areas %} 
                    <option>{{ a.name_area }}</option>
                    {% endfor %} 
                  </select>
                </div>
              </div> 
              <div class="sStatistic">
                <div data-tabs="1"></div>
                <div data-tabs="2"></div>
              </div>
          </div>
      </div>
  </div>
	{% endblock %}

  {% block footer_script %}

        <script>

            $(function(){
                {% if user.is_staff and request.session.profile and not request.session.profile.is_staff or not user.is_staff and areas.count < 1 %}
                 $('div.sBusyOverlay2#isEmpty').show();
                {% endif %}

                {% if user.is_staff and not request.session.profile %}
                 $('select[name="webmaster_id"]').val({{ user.pk }});
                {% endif %}

                $('.sListConstructors > span.sTabs').click(function(){
                  $this = $(this); 
                  $this.parent().find('span.sTabs').removeClass('sActive'); 
                  $this.addClass('sActive'); 
                  var tabNumber = $this.data('tabs'); 
                  $('.sStatistic > div').hide();
                  $('.sStatistic > div[data-tabs="'+tabNumber+'"]').show();
                });
                $('<iframe  style="width: 100%; " frameborder="0" scrolling="no" id="detail"></iframe>').appendTo('.sStatistic > div[data-tabs="1"]');
                $('<iframe  style="width: 100%; " frameborder="0" scrolling="no" id="detail-social"></iframe>').appendTo('.sStatistic > div[data-tabs="2"]');
                $('.sListConstructors > span:first-of-type()').click();

                {% if user.is_staff and not request.session.profile %}
                  $('select[name="webmaster_id"]').change(function(){ 
                      var selected_id_val = $(this).find('option:selected').val();

                      $.ajax({ 
                        url: "/admin/area-by-id/", 
                        data: {
                          "wmid": selected_id_val
                        }, 
                        beforeSend: function(){
                          $('div.sBusyOverlay').show();
                        },
                        success: function(r){ 
                          if(r.answer='ok'){ 

                            $select_area = $('select[name="webmaster_area"]').empty();

                            if(r.areas.length < 1){
                              $('.sStatistic').hide();
                            }
                            else{
                              r.areas.forEach(function(v,i){  
                                $select_area.append('<option>'+v+'</option>');
                              }); 
                              
                              $('select[name="webmaster_area"]').find('option:nth-of-type(1)').prop('selected',true).closest('select').trigger('change');
                              $('.sStatistic').show();
                            }

                          } 
                        },
                        complete: function(){
                          $('div.sBusyOverlay').hide();
                        }
                      });

                  });
                {% endif %}

                $('select[name="webmaster_area"]').change(function(){ 
                  try{
                    $('div.sBusyOverlay').show();
                    $this = $(this);
                    var selected_area_text = $this.find('option:selected').text();

                    $('.sStatistic > div').show();

                    {% if user.is_staff and not request.session.profile %}
                      var selected_id_val = $('select[name="webmaster_id"]').find('option:selected').val();
                      $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+selected_area_text+'/?wmid='+selected_id_val).css('min-height','590px');
                      setTimeout(function(){
                        $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+selected_area_text+'/?wmid='+selected_id_val).css('min-height','450px');
                      }, 500);
                    {% else %}
                      $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+selected_area_text).css('min-height','590px');
                      setTimeout(function(){
                        $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+selected_area_text).css('min-height','450px');
                      }, 500);
                    {% endif %}
                  }
                  catch(e){
                    $('div.sBusyOverlay').hide();
                  }
                }).find('option:nth-of-type(1)').prop('selected',true).closest('select').trigger('change'); 

                $('#date2').DatePicker({
                    flat: true,
                    format: 'd.m.Y',
                    date: ['10.04.2016','30.04.2016'],
                    current: '11.04.2016',
                    calendars: 3,
                    mode: 'range',
                    starts: 1,
                    onChange: function(formated, dates){
                    $('#inputDate').val(formated[0]+" " +"-"+" "+formated[1]);

                    }
                }).hide();
            });


            function setDatePicker(start, end){
                $('#date2').DatePickerSetDate([start, end], true);
            }

            function showDatePicker(){
                $('#date2').slideToggle(400);
            }

            function filterDateShow(){
                try{
                  $('div.sBusyOverlay').show();
                  var selected_area_text = $('select[name="webmaster_area"]').find('option:selected').text();

                  $('.sStatistic > div').show();

                  {% if user.is_staff and not request.session.profile %}
                    var selected_id_val = $('select[name="webmaster_id"]').find('option:selected').val();
                    $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+selected_area_text+'/?daterange='+$('#inputDate').val()+'&wmid='+selected_id_val).css('min-height','590px');
                    setTimeout(function(){
                      $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+selected_area_text+'/?daterange='+$('#inputDate').val()+'&wmid='+selected_id_val).css('min-height','450px');
                    }, 500);
                  {% else %}
                    $('.sStatistic > div[data-tabs="1"] > iframe').attr('src','/webmaster-area/detail/'+selected_area_text+'/?daterange='+$('#inputDate').val()).css('min-height','590px');
                    setTimeout(function(){
                      $('.sStatistic > div[data-tabs="2"] > iframe').attr('src','/webmaster-area/detail-social/'+selected_area_text+'/?daterange='+$('#inputDate').val()).css('min-height','450px');
                    }, 500);
                  {% endif %}
                }
                catch(e){
                  $('div.sBusyOverlay').hide();
                }
            }

        </script>

  {% endblock %}
