@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PT-Sans.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PT-Sans2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PT-Sans3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PT-Sans4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body { margin: 0; }
a { text-decoration: none!important; }
.sOverHidden-All{
    overflow:hidden;
}
.sOverHidden-X{
    overflow-x: hidden;
}
.sHeight-100p{
    height: 100%;
}
.sWidth-100p{
    width: 100%;  
}
#header{
    height: 62px;      
}
#footer{
    height: 77px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.sWrapper{
    min-height: 100%;
    position: relative;
}
.sContent-H100{
    height: 100%;
}
.sClear-Both{
    clear: both;
}
.sContent-H100-HF{
    height: -moz-calc(100% - 139px);
    height: -webkit-calc(100% - 139px);
    height: calc(100% - 139px);
}
.sContent-PB{
    padding-bottom: 77px;
}
.sBd-BlueH{
    background-color: #2fabf6;
}
.sBd-GrayF{
    background-color: #efefef;
}
.sBd-W50{
    background-color: rgba(255,255,255,.5);
}
.sBd-B50{
    background-color: #2fabf6;
    opacity: .5;
}
.sBd-G50{   
    background-color: rgba(199,199,199,.5);
}
.sMargin-Auto{
     margin: 0 auto;
}
.sDisplay-Block{
     display: block;
}
.sDisplay-Inline{
     display: inline-block!important;
}
.sContainer{
    width: 1171px;      
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
}
.sDisabled{
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
}
.sContainer > div.sHeaderWrapper > div:last-of-type{
    border-left: 0px none;
}
.sFloat-R{
    float: right;       
}
.sFloat-L{
    float: left;
}
.sHeaderBox, .sFooterBox{
    font: 400 14.5px Roboto;   
}
.sFooterBox{
    color: #68717a;
    margin-top: 21px; 
}
.sHeaderBox{
    color: #ffffff;
    border-left: 2px solid #ffffff;
    height: 41px; 
    margin-top: 11px;   
}
.sHeaderBox-WmMenu{
     width: 139px;
}
.sHeaderBox-Money{
     width: 169px;
}
.sHeaderBox-Menu{
    width: 629px;
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
}
.sHeaderBox-Logo, .sFooterBox-Logo{
    /*width: 234px;*/
}
.sFooterBox-Sn{
    width: 200px;
}
.sFooterBox-Sn > div > a:not(:first-of-type){
    margin-left: 12px;
}
.sSn{    
    width: 41px;
    height: 42px;
    background: url(../images/btns-sn-template.png); 
}
.sSn-Ok{
    background-position: 41px 0;
}
.sSn-Vk{    
    background-position: 82px 0;
}
.sSn-Tw{    
    background-position: 123px 0;  
}
.sSn-Fb{    
    background-position: 0 0; 
}
.sFooterBox-Menu{
    /*width: 607px;*/
    width: 439px;
    margin-right: 168px;
}
.sFooterBox-Menu > div > a{
    color: inherit;
}
.sFooterBox-Menu > div > a:not(:last-of-type){
    margin-right: 112px;
}
.sHeaderBox-Logo > a, .sFooterBox-Logo > a{       
    font: 700 31px PT Sans; /* letter-spacing */
    line-height: 100%;
    width: 149px;
    height: 31px;
    padding-left: 32px;    
    margin-top: 4px;
}
.sHeaderBox-Logo > a{
    background: url(../images/logo-white.png) no-repeat 0 100%; 
    color: #ffffff;
}
.sFooterBox-Logo > a{
    background: url(../images/logo-blue.png) no-repeat 0 100%; 
    color: #2fabf6;  
}
.sHeaderBox-Money > div > span{
    color: #ffd54e;
    font-size: 18px;    
}
.sHeaderBox-Money > div{
    height: 41px;
}
.sHeaderBox-Money > div > a.sWmMoney{
    background: url(../images/money.png);
    height: 29px;
    width: 27px;
    margin: 6px 8px 0px 21px;
}
.sHeaderBox-Menu > div:first-of-type{
    height: 41px;
}
.sHeaderBox-Menu > div > a{
    color: inherit;
    margin-left: 43px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.sHeaderBox > div > span{
    cursor: default;
}
.sHeaderBox-WmMenu > label.sUnderpants, .sHeaderBox-Menu > label.sUnderpants{
    height: 41px;    
}
.sHeaderBox-WmMenu > label.sUnderpants{
    margin-top: -1px;
}
.sHeaderBox-Menu > label.sUnderpants{
    bottom: 42px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.sTextAlign-R{
    text-align: right;   
}
.sTextAlign-C{
    text-align: center;   
}
.sVAlign-50p{
    vertical-align: -50%;
}
.sPos-Rel{
    position: relative;
}
.sZi-2{
    z-index: 2;
}
.sZi-1{
    z-index: 1;
}
.sHeight-Auto{
    height: auto;
}
.sUnderpants{
    background: url(../images/underpanths.png);
    width: 10px;
    margin-left: 4px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: -10px 45%;   
}
.sInputH{
    position: absolute;
    visibility: hidden;
    margin-left: -9999px;
}
.sHeaderBox-WmMenu > div:first-of-type{
    padding-left: 16px;
}
.sHeaderBox-WmMenu > input.sInputH:checked + label{
    background-position: 0 45%;   
}
.sHeaderBox-WmMenu > input.sInputH:checked ~ div:first-of-type{     
    transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    color: #282f3a; 
}
.sWmMenu, .sMenu-Dd{
    top: -36px; /*36px*/
    left: 4px;
    height: 41px;    
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s; /* all,or[and, and] */
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.sWmMenu{
    background-color: #ffffff;
    width: 145px;
    box-shadow: 0px 12px 20px 0.00px rgba(117, 129, 141, 0.75);
    margin-top: 13px;
}
.sMenu-Dd{
    background-color: #2fabf6;
    width: 190px;
    box-shadow: 0px 10px 10px 0px rgba(117, 129, 141, 0.75);
}
.sWmMenu > a, .sMenu-Dd > a{    
    position: relative;
    display: inline-block;
    height: 0px;
    width: 133px;    
    color: #555a62;
    font: 400 15px / 31px Roboto;   
    opacity: 0;
    transition: all 0.5s;
}
.sWmMenu > a{
    padding-left: 12px;
}
.sWmMenu > a:hover{
    background-color: #e8e8e8;
}
.sWmMenuSpace{
    height: 47px;
    display: block;
}
input.sInputH:checked ~ .sWmMenu{    
    visibility: visible;
    opacity: 1;
    height: 112px;
}
input.sInputH:checked ~ .sWmMenu > a, input.sInputH:checked ~ .sMenu-Dd > a{
    height: 33px;
    opacity: 1;
}
.sCabinet{
    
}
.sCabinet-GlobalSettings{
    /*height: 564px;*/
    padding-top: 84px;  
    color: #262d38;
    font: 400 15px / 40px Roboto;
}
.sSettings-Title{
    color: #636d7a;
    font: 300 34px / 18px Roboto-Light;
    border-bottom: #8f8f8f 1px solid;
    padding-bottom: 19px;
}
.sSettings-Field, .sSettings-Field-Edit{    
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    overflow-x: hidden;  
}
.sSettings-Field-Border{
    border-bottom: #ededed 1px solid;
}
.sSettings-Field > span:nth-child(1){
    display: inline-block;
    width: 350px;
}
.sSettings-Field > span:last-of-type:not(.sNotLast){
    color: #3da3e1;
    text-decoration: underline;
    cursor: pointer;
}
.sSettings-Field-Edit{
    background-color: #ededed;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-top: 11px;
    display: none;
}
.sSettings-Field-Edit > span:nth-child(1){
    display: inline-block;
    width: 350px;
}
.sSettings-Field-Edit > span:last-of-type{
    color: #ffffff;
    font: 400 16px Roboto;
    background-color: #939393;
    height: 36px;
    width: 142px;
    border-radius: 50px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.sSettings-Field-Edit > div{
    width: 471px;
    display: inline-block;
}
.sSettings-Field-Edit > div > label, .sSettings-Field-Edit > div > form > label{
    display: inline-block;
    width: 180px;
    padding-right: 19px;
}
.sCabinet-ContactInfo{
    padding-top: 43px;  
    color: #262d38;
    font: 400 15px / 40px Roboto;
    padding-bottom: 93px;
}
.sBtnConstructor, .sListConstructors{
    padding-bottom: 72px;
}
.sH1Wrapper{
    padding-top: 85px;
    padding-bottom: 20px;
}
.sH1 + .sAdd-Circle{
    background: url(../images/add-circle-1.png);
    width: 33px;
    height: 32px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.sH1{
    margin: 0;    
    color: #636d7a;
    font: 300 34px / 18px Roboto-Light;
    line-height: 28px;
}
.sTableAreas{
    color: #32353c;
    font: 400 14px Roboto;
    background-color: #e7e7e7;
    /*margin-bottom: 573px; 72 573*/
}
.sEmptyCalc {
    height: -moz-calc(100% - 139px);
    height: -webkit-calc(100% - 139px);
    height: calc(100% - 139px);
}
.sTableAreas a{
    color: #008bd4;
    font: 400 14px Roboto;
}
.sTableAreas .sTableAreasFieldName{
    height: 45px;
}
.sTableAreasCell{
    height: 41px;
    border-bottom: 1px solid #fff;
}
.sTableAreasCell:nth-child(odd){    
    background-color: #f6f6f6;
}
.sTableAreasCell:nth-child(even){
    background-color: #efefef; 
}
.sTableAreasField{
    float: left;  
    height: inherit;
}
.sTableAreasCell .sTableAreasField .sAreaEdit, .sTableAreasCell .sTableAreasField .sAreaDelete{
    width: 22px;
    height: 22px;
    padding-left: 0px;
    position: relative;
    display: block;
}
.sTableAreasField .sAreaEdit{
    background: url(../images/area-edit-1.png) no-repeat;
    left: 20px;
    top: 10px;
}
.sTableAreasField .sAreaDelete{
    background: url(../images/area-delete-1.png) no-repeat;
    left: 47px;
    bottom: 12px;
}
.sTableAreasField:not(:last-of-type){
    border-right: 1px solid #bfbfbf;
}
.sTableAreasFieldName .sTableAreasField *{
    padding-left: 20px;
    line-height: 47px;
}
.sTableAreasCell .sTableAreasField *{
    padding-left: 20px;
    display: block;
    height: inherit;
    line-height: 42px;
}
.sTableAreas .sTableAreasField:nth-child(1){
    width: 52px;
}
.sTableAreas .sTableAreasField:nth-child(2){
    width: 152px;
}
.sTableAreas .sTableAreasField:nth-child(3){
    width: 146px;
}
.sTableAreas .sTableAreasField:nth-child(4){
    width: 526px;
}
.sTableAreas .sTableAreasField:nth-child(5){
    width: 188px;
}
.sTableAreas .sTableAreasField:nth-child(6){
    width: 102px;
}
.sAddAreaModal{
    display: none;
}
.sAddAreaModal .sH1{
    margin-top: 72px;
    margin-bottom: 30px;
}
.sAddAreaWrapper{
    background-color: #efefef;
    margin-bottom: 88px;
    color: #32353c;
    font: 400 14px / 50px Roboto;
    text-align: right;
}
.sAddAreaWrapper > div:not(:last-of-type){
    padding-top: 58px;
}
.sAddAreaWrapper > div input{
    width: 589px;
    height: 35px;
    border: 0px none;
    border-radius: 7px;
    margin-left: 17px;
}
.sAddAreaWrapper > div > div:nth-child(3),
.sAddAreaWrapper > div > div:nth-child(4){
    width: 591px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 6px;
}
.sAddAreaWrapper > div > div:nth-child(4){
    margin-top: 14px;
}
.sAddAreaWrapper > div > div:nth-child(4) > select{
    padding-left: 5px;
}
.sAddAreaWrapper > div > div > select{
    background: transparent;
    border: 0;
    width: 610px;
    border-radius: 0;
    -webkit-appearance: none;
}
.sAddAreaWrapper > div > div > select option{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
}
.sAddAreaWrapper > div:first-of-type{
    width: 99px;
    margin-left: 187px;
}
.sAddAreaWrapper > div label{
    display: block;
}
.sAddAreaSubmit{
    background: url(../images/add-submit-2.png) no-repeat;
    width: 199px;
    height: 69px;
    display: block;
    padding-bottom: 26px;
    margin-top: 28px;
    cursor: pointer;
}
.sBtnConstructor > div.sTopLine, 
.sListConstructors > div.sTopLine{
    background-color: #e8e8e8;
    border-radius: 3px;
    height: 58px;
    margin-bottom: 40px;
    margin-top: 32px;
}
.sBtnConstructor > div.sTopLine > a{
    color: #2fabf6;
    font: 400 14px Roboto;    
    line-height: 58px;
    padding-left: 20px;
    margin-right: 12px;
}
.sBtnConstructor > span:first-of-type, .sListConstructors > a:first-of-type{
    background-color: #ffae00;
    color: #ffffff;      
    line-height: 33px;
    height: 35px;
    width: 111px;
    margin-right: -5px;
}
.sBtnConstructor > div.sStepPad{
    width: 245px;
}
.sStepPad > div{
    width: 225px;
    height: 47px;
    background-color: #e3e3e3;
    color: #32353c;
    font: 400 24px / 22px Roboto;
    margin-bottom: 20px;
    line-height: 47px;
    border-radius: 2px;
}
.sStepPad > div > span:nth-child(1){
    padding-left: 18px;
}
.sStepPad > div > span:nth-child(2){    
    float: right; 
    position: relative; 
    right: -20px; 
    border-left: 20px solid #e3e3e3;
    border-top: 24px solid transparent; 
    border-bottom: 24px solid transparent; 
    border-radius: 1px;
}
.sStepPad > div:first-of-type > span:nth-child(2){    
    border-left: 20px solid #ffae00;    
}
.sStepPad > div:first-of-type{
    line-height: 47px!important;
    color: #ffffff;
    font: 400 24px / 22px Roboto;
    background-color: #ffae00;
    
}
.sFormPad > .sFormPad-Wrapper{
    padding-left: 38px;
    padding-top: 18px;
    padding-right: 76px;
}
.sFormPad-Wrapper > .sNext{
    height: 75px;
    border-top: 1px solid #fff;
    margin-top: 43px;
}
.FormPad > div.sDescription > p{
    font: 400 15px / 22px Roboto;
}
.sBSExample, .sSNExample{
    padding-top: 46px;   
}
.sNext > span{
    background-color: #949494;
    color: #ffffff;
    font: 400 16px Roboto;
    width: 142px;
    height: 36px;
    display: block;
    border-radius: 30px;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: default;
}
.sBSExample{
    width: 550px;
}
.sSNExample > div.sSNTreeWrapper:first-of-type{
    padding-top: 4px;
}
.sSNExample > div.sSNTreeWrapper:not(:first-of-type){
    padding-top: 11px;
}
.sBSExample > div.sBSTreeWrapper{
    height: 50px;       
}
.sBSExample > div.sBSTreeWrapper:not(:last-of-type){
    margin-bottom: 6px;
}
.sBSTreeWrapper > input, .sSNTreeWrapper > input{
    display: none;
    opacity: 0;
    margin-left: -999999px;
}
.sSNTreeWrapper > input:checked + label{
   background: url(../images/bs-chekbox-checked.png); 
}
.sSNTreeWrapper > label{
    margin-top: 4px;
    margin-right: 7px;
}
.sSNInput{
    width: 14px;
    height: 14px;
    float: left;
    background: url(../images/bs-chekbox.png);
}
.sBSInput, .sBSInput-Checked{
    width: 14px;
    height: 14px;
    margin-top: 17px;
    float: left;
    margin-right: 11px;
    background: url(../images/bs-chekbox.png);
    
}
.sBSInput-Checked{
    background: url(../images/bs-chekbox-checked.png);
}
.sBSTreeWrapper:hover {
    background-color: #f1f1f1;
}
.sBSTreeWrapper > span[data-sn] {
    width: 41px;
    height: 41px;
    display: inline-block;
    margin-right: 15px;
    /**/
    background-image: url("http://sharewall.ru/static/sharewall-template/images/btns-sprite-3.png");
    background-repeat: no-repeat;
    padding-top: 2px;
}
span[data-sn="tw"] {
    background-position: 0px 0px;
}
span[data-sn="vk"] {
    background-position: -41px 0px;
}
span[data-sn="od"] {
    background-position: -82px 0px;
}
span[data-sn="fb"] {
    background-position: -123px 0px;
}
span[data-sn="gp"] {
    background-position: -164px 0px;
}
span[data-sn="ma"] {
    background-position: -205px 0px;
}
span[data-sn="li"] {
    background-position: -246px 0px;
}
span[data-sn="li"] {
    background-position: -287px 0px;
}
.sAreaSelectWrapper select{
    background: transparent;
    width: 175px;
    height: 28px;
    padding: 5px;
    padding-left: 8px;
   /*line-height: 1;*/
    border: 0;
    border-radius: 0;
    -webkit-appearance: none; 
}
.sAreaSelectWrapper {
    width: 155px;
    height: 28px;
    overflow: hidden;
    background: url(../images/select-area-arrow.png) no-repeat right #fff;
    color: #5d646e;
    font: 400 14px Roboto;
    border-right: 6px solid #ffffff;
    position: relative;
    top: 16px;
}
.sBSTreeWrapper > span[data-logo] {
    width: 41px;
    height: 41px;
    display: inline-block;
    background-image: url("http://sharewall.ru/static/sharewall-template/images/btns-logo-sharewall-blue.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 6px;
}
.sSNExample{
    width: 190px;
}
.sBSExample > p, .sSNExample > p{
    color: #3d4853;
    font: 400 20px Roboto;
}
.sBtnConstructor > div.sFormPad{
    width: 905px;
    background-color: #f6f6f6;
    font: 400 15px / 22px Roboto;
    color: #3d4853;
}
.sListConstructors > a{
    font: 400 15px Roboto; 
    display: block;
    color: #45474d;
}
.sBtnConstructor > span{
    display: inline-block;
    height: 35px;
    width: 111px;
    color: #45474d;
    font: 400 15px Roboto;   
    line-height: 33px;
    background-color: #e3e3e3;
    cursor: default;
}
.sBtnConstructor > form > *{
     display: block;
}
.sCodeHere-H {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #636d7a;
    font: 300 34px / 18px Roboto-Light;
}
.sCodeHere{
    font: 400 15px Roboto;   
}
.sBtnNode-E, .sBtnLogo-E{
    width: 41px;
    height: 41px;
    display: inline-block;
    margin-right: 15px;
}
.sBtnNode-E{
    background: transparent url("../images/btns-sprite-1.png") no-repeat 0px 0px;
 }
.sBtnLogo-E{
    background: transparent url("../images/btns-logo-sharewall-blue.png") no-repeat 0px 0px;
    background-position: 50% 50%;
}
.sBtnCounter-E{
    margin-left: 3px;
    height: 39px;
    width: 64px;
    display: inline-block;
    background: transparent url("../images/btns-counter-black.png") no-repeat 0px 0px;
    background-position: 50% 50%;
    color: #ffffff;
    font: 400 14px / 22px Roboto;
    text-align: center;
    line-height: 39px;
    float: right;
}

/* 4 media point smaller 1145px,965px,781px,659px
a:has(img) { background: none; }
p:nth-of-type(3n+0)
p:nth-of-type(2)    
:nth-of-type() selector to select the element that is the nth child, of a particular type, of its parent.
p:nth-child(3n+0)
p:nth-child(2)//The :nth-child(n) selector matches every element that is the nth child, regardless of type, of its parent.n can be a number, a keyword, or a formula.
nth-of-type(4n+1)
ul li:not(.year):nth-of-type(4n+2){ clear: both; }
.menu li > a:after { margin-left: 5px; content: '\25BA'; }
.menu > li > a:after { margin-left: 5px; content: '\25BC'; }
.menu li > a:only-child:after { margin-left: 0; content: ''; }
.menu li:last-of-type { border-right: none; }
<b class="caret dropdown-toggle"></b>
<style>
content: "Look at this orange box.";
::-moz-selection {
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}
h1::before {
    content: url(smiley.gif);
}
h1::after {
    content: url(smiley.gif);
}
.disable {
    pointer-events: none;
}
Combinators: ul li,ul>li,h1+p,h1~p,ul a[title],li#first>a[rel="external"],h1+p.intro,h2.myclass~p[class="intro"]
Pseudo-Classes: E:link,E:visited,E:active,E:hover,E:focus ,span:target {background: yellow;},E:enabled,E:disabled,E:checked,div:not(.two)
#alert:target, span:focus ~ .alert,.btn:active .alert,:checked ~ .alert
transitions: prop, dura, timi func, delay //500ms 1 prop or all shorthand // write in not event, can specify with transition-property: width,..; trans-dur: 1s, trans-tim-func: easy-in-out; 
#block4 {left: 240px; transition: all 500ms easy-in-out, 500ms;}
#block3:hover + #block4 { left: 240px; }
nav a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
position: relative; top,left
.container>.navbar
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}
#conrainer "min-width: 310px; height: 400px; margin: 0 auto"
@media only screen and (max-width:965px){ classes … }
line-height: 160%;
margin-top: -1px;
font-size: 100%;
width: 36%;
float: right;
.grid
clear: both;
text-aligh: left;
vertical-align: top;
display: inline-block;
margin: 0 0 25px;
width: 260px; //23% in media //48% in small media
.galleryitem:nth-child(4n+1) //select the first in
.sublead
display: block; //none in media
font-size: 105%;
margin-bottom: 20px;
.imageRotater
width: 60%; // 100% in media
.maintext
font-size: 100%;
line-height: 160%;
margin-top: -10px; //15px in media
width: 36%; //100% in media
float: right;
.navigation .navbar
background-repeat: initial initial;
background-position: initial initial;
border-top: 1px dotted rgb(169, 169, 169)
border-bottom: 1px dotted rgb(169, 169, 169)
background: rgb(248,248,248)
float: right;
color: rgb(119,119,119);
overflow: visible;
margin-bottom: 20px;
position: relative;
//display: none; in media 
#mobile-nav //select
display: none; //block in media
*/
