{% block footer %}
     <div id="footer" class="sBd-GrayF sWidth-100p">
        <div class="sContainer">
        <div class="sFooterWrapper">
            <div class="sFooterBox sFooterBox-Logo sFloat-L sPos-Rel">
                <a href="javascript:return false;" class="sFloat-L">
                    Sharing
                </a>
            </div>
            <div class="sFooterBox sFooterBox-Sn sFloat-R sPos-Rel">
                <div class="sOverHidden-All">
                    <a href="javascript:return false;" class="sFloat-L sSn sSn-Fb">              </a>
                    <a href="javascript:return false;" class="sFloat-L sSn sSn-Tw">              </a>
                    <a href="javascript:return false;" class="sFloat-L sSn sSn-Vk">              </a>
                    <a href="javascript:return false;" class="sFloat-L sSn sSn-Ok">              </a>
                </div>
            </div>
            <div class="sFooterBox sFooterBox-Menu sFloat-R sPos-Rel">
                <div class="sOverHidden-All">
                    <a href="javascript:return false;" class="sVAlign-50p">
                        Вебмастеру
                    </a>
                    <a href="javascript:return false;" class="sVAlign-50p">
                        Возможности
                    </a>
                    <a href="javascript:return false;" class="sVAlign-50p">
                        FAQ
                    </a>
                </div>
            </div>
        </div>
         </div>
      </div>
{% endblock %}
