{% load staticfiles %}

<!DOCTYPE html>
 <html lang="en" class="sHeight-100p">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/png">  

    <meta name="description" content="Кастомизированные социальные кнопки">
    <meta name="author" content="Freemanit">

    <title>{% block title %}{% endblock %}</title>
    
    <link href="{% static "sharewall-template/css/header.css" %}" rel="stylesheet"> 

    {% if not page.noQueries %}
      <link href="{% static "sharewall-template/css/media-queries.css" %}" rel="stylesheet">
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0-rc1.js"></script>-->

    {% block custom_style %}{% endblock %}   
    {% block custom_script %}{% endblock %}   

  </head>

  <body class="sWidth-100p sHeight-100p sOverHidden-X">
    <div class="sWrapper">

    {% block header %}

    <div id="header" class="sBd-BlueH sWidth-100p">
          {% if user.is_staff and request.session.profile %}
          <div class="sAdminProfile">&nbsp; {{ request.session.profile.username }}
            <a href="{% url "admin-profile-clear" %}"></a> 
          </div>
          {% endif %}
          <div class="sContainer sMargin-Auto">
          <div class="sHeaderWrapper">
              <div class="sHeaderBox sHeaderBox-WmMenu sFloat-R sPos-Rel"> 
                  <input type="checkbox" id="sWmInput" class="sInputH">
                  <label for="sWmInput" class="sUnderpants sFloat-R sPos-Rel "></label>
                  <div class="sOverHidden-All sTextAlign-L">
                      {% if user.is_staff and request.session.profile %}
                      <span class="sVAlign-50p sPos-Rel sZi-1003">
                          {{ request.session.profile.username }}
                      </span>
                      {% else %}
                      <span class="sVAlign-50p sPos-Rel sZi-1003">
                          {{ user.username }}
                      </span>
                      {% endif %}
                  </div> 
                  <div class="sWmMenu sPos-Rel">
                      <span class="sWmMenuSpace"></span>
                      <a href="{% url "cabinet-webmaster-index" %}">Настройки</a>
                      <a href="{% url "landing-logout" %}">Выйти</a>
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Money sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      {% if user.is_staff and request.session.profile %}
                      <a href="{% url "cabinet-webmaster-balance" %}" class="sWmMoney sFloat-L"></a>
                        <span class="sVAlign-50p sPos-Rel">
                            {{ request.session.profile.money }} p.                    
                        </span>
                      {% elif user.is_staff and not request.session.profile %}
                        <a href="{% url "admin-balance" %}" class="sWmMoney sFloat-L"></a>
                        <span class="sVAlign-50p sPos-Rel">
                            {{ user.cabinet_webmaster.money }} p.                    
                        </span>
                      {% else %}
                        <a href="{% url "cabinet-webmaster-balance" %}" class="sWmMoney sFloat-L"></a>
                        <span class="sVAlign-50p sPos-Rel">
                            {{ user.cabinet_webmaster.money }} p.                    
                        </span>
                      {% endif %}
                  </div> 
              </div>
              <div class="sHeaderBox sHeaderBox-Menu sFloat-R sPos-Rel">
                  <input type="checkbox" id="sHeaderMenuInput" class="sInputH">
                  <div class="">
                      {% if user.is_staff and request.session.profile == None or user.is_staff and request.session.profile and request.session.profile.is_staff %}
                        <a href="{% url "admin-webmasters" %}" class="sVAlign-50p">Вебмастера</a>
                      {% endif %}
                      <a href="{% url "webmaster-area-index" %}" class="sVAlign-50p">Площадки</a>
                      <a href="{% url "buttons-constructor-create" %}" class="sVAlign-50p">Конструктор</a>
                      <a href="{% url "webmaster-area-statistic" %}" class="sVAlign-50p">Статистика</a>

                      <a href="javascript:return false;" data-chatdd="show" class="sVAlign-50p sPos-Rel">Тикеты
                          <div class="sChatDD">
                            <span class="sNone">Тикеты</span>
                            <span data-url="{% url "chat-create" %}">Открыть тикет</span>
                            <span data-url="{% url "chat-all" %}">Мои тикеты</span>
                          {% if user.is_staff and request.session.profile == None or user.is_staff and request.session.profile and request.session.profile.is_staff %}
                            <span data-url="{% url "admin-chat-support" %}">Поддержкa</span>
                            <span data-url="{% url "admin-chat-billing" %}">Биллинг</span>
                          {% endif %}
                          </div>
                      </a>

                      {% if not user.is_staff or user.is_staff and request.session.profile and not request.session.profile.is_staff %}
                      <a href="{% url "webmaster-area-faq" %}" class="sVAlign-50p">FAQ</a>
                      {% endif %}
                  </div>                

                  <label for="sHeaderMenuInput" class="sUnderpants sFloat-R sPos-Rel "></label> 
                  <div class="sMenu-Dd sPos-Rel">
                      <span class="sWmMenuSpace"></span>
                      {% if user.is_staff and request.session.profile == None or user.is_staff and request.session.profile and request.session.profile.is_staff %}
                        <a href="{% url "webmaster-area-index" %}">Площадки</a>
                      {% endif %}
                      <a href="{% url "buttons-constructor-create" %}">Конструктор</a>
                      <a href="{% url "webmaster-area-statistic" %}">Статистика</a>

                      <a href="javascript:return false;" data-chatdd="show" class="sPos-Rel">Тикеты
                          <div class="sChatDD" style="top: 1px; left: -15px;">
                            <span class="sNone">Тикеты</span>
                            <span data-url="{% url "chat-create" %}">Открыть тикет</span>
                            <span data-url="{% url "chat-all" %}">Мои тикеты</span>
                          {% if user.is_staff and request.session.profile == None or user.is_staff and request.session.profile and request.session.profile.is_staff %}
                            <span data-url="{% url "admin-chat-support" %}">Поддержкa</span>
                            <span data-url="{% url "admin-chat-billing" %}">Биллинг</span>
                          {% endif %}
                          </div>
                      </a>

                      {% if not user.is_staff or user.is_staff and request.session.profile and not request.session.profile.is_staff %}
                        <a href="{% url "webmaster-area-faq" %}">FAQ</a>
                      {% endif %}
                  </div>
              </div>
              <div class="sHeaderBox sHeaderBox-Logo sFloat-L sPos-Rel">
                <a href="{% url "landing-index" %}" class="sFloat-L">
                      Sharewall
                  </a>
              </div>
          </div>
          </div>
     </div>
    
    {% endblock %}
    <!--[if IE]>
      <script>
        alert('Внимание! Вы используете устаревший браузер! Пожалуйста установите современный браузер для корректной работы!');
      </script>
    <![endif]-->
    {% block content %}{% endblock %}
            
    {% block footer %}
    
       <div id="footer" class="sBd-GrayF sWidth-100p">
          <div class="sContainer sMargin-Auto">
          <div class="sFooterWrapper">
              <div class="sFooterBox sFooterBox-Logo sFloat-L sPos-Rel">
                  <a href="{% url "landing-index" %}" class="sFloat-L">
                      Sharewall
                  </a>
              </div>
              <div class="sFooterBox sFooterBox-Sn sFloat-R sPos-Rel">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Fb">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Tw">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Vk">              </a>
                      <a href="javascript:return false;" class="sFloat-L sSn sSn-Ok">              </a>
                  </div>
              </div>
              <div class="sFooterBox sFooterBox-Menu sFloat-R sPos-Rel" style="display:none;">
                  <div class="sOverHidden-All">
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Вебмастеру
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          Возможности
                      </a>
                      <a href="javascript:return false;" class="sVAlign-50p">
                          FAQ
                      </a>
                  </div>
              </div>
          </div>
          </div>
        </div>

    {% endblock %}  

    {% block footer_script %}{% endblock %}
        
        <script>

            $(function(){
               $('[data-url]').click(function(){ location.href = $(this).data('url'); }) 

               console.log($.browser);
               if($.browser.msie){
                console.log('IE');
                //alert('IE');
               }
                
            });    

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            var csrftoken = document.cookie.replace(/(?:(?:^|.*;\s*)csrftoken\s*\=\s*([^;]*).*$)|^.*$/, "$1");

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        </script>
        
    </div>
  </body>
  
</html>
