  {% extends "skeleton.html" %}
  {% load staticfiles %}

  {% block custom_style %}
    <link rel="stylesheet" media="screen" type="text/css" href="{% static "sharewall-template/css/datepicker.css" %}"/>

    <script type="text/javascript" src="{% static "sharewall-template/js/datepicker.js" %}"></script>

    <style>
        input:checked + label.sBSInput{
          background: url("{% static "sharewall-template/images/bs-chekbox-checked.png" %}");
        }
        
        .sBSInput{
          margin-top:0px;
        }
    </style>

  {% endblock %}

  {% block title %}{{ page.title }}{% endblock %}

	{% block content %}

  <div class="sAlertMessageWrapper"></div>

  <div class="sContent-PB">
      <div class="sContainer sMargin-Auto">

          <div class="sH1Wrapper" style="border-bottom: 1px solid rgb(143, 143, 143); padding-bottom: 20px;">
              <h1 class="sH1 sFloat-L">{{ page.header }}</h1>
              <span class="sBigMoney sFloat-R s735Font-Size-20PX">{{ money_total }}</span>
              <div class="sClear-Both"></div>
          </div>    
          
          <div class="sDatePicker" style="margin-top:18px; margin-bottom:0px; border-bottom: 1px solid rgb(237, 237, 237); padding-bottom:18px;">
                <label for="inputDate">Период: </label>
                <div class="sInputDateWrapper"> 
                  <input class="inputDate" id="inputDate" value="">
                    <span class="sCalendarIcon" onclick="showDatePicker()"></span>
                </div>
                <span class="sFilterShow" onclick="filterDateShow()">Фильтровать</span>
                <p id="date2"></p>
          </div>
          
          <div style="padding: 0px 15px; margin: 0px 5px; border-bottom: 1px solid rgb(237, 237, 237);">
              <span class="sStdText sTextColor-Black sFloat-L">Баннер</span>
              <span class="sStdText sTextColor-Blue sFloat-R">{{ money_webmaster_all }}</span>
              <div class="sClear-Both"></div>
          </div>
          <div style="padding: 0px 20px; background-color:#ededed;">
              <span class="sBoldText sTextColor-Black sFloat-L">Всего вебмастера</span>
              <span class="sBoldText sTextColor-Blue sFloat-R">{{ money_webmaster_all }}</span>
              <div class="sClear-Both"></div>
          </div>
          <div style="padding: 0px 20px; background-color:#ededed;">
              <span class="sBoldText sTextColor-Black sFloat-L">Всего система</span>
              <span class="sBoldText sTextColor-Blue sFloat-R">{{ money_system_all }}</span>
              <div class="sClear-Both"></div>
          </div>
          
          <div class="sListConstructors" style="margin-top:63px; padding-bottom:0px;">
              <span class="sTextAlign-C sTabs" data-tabs="1">Биллинг</span>
              <span class="sTextAlign-C sTabs" data-tabs="2">История платежей</span>
              <div class="sGLine"></div>
          </div>
          <div class="sPos-Rel sFloat-R sPager" style="margin-top:21px; margin-bottom:17px;">
                <div class="sFloat-L" id="sortWrapper" style="margin-top: 11px; margin-right: 12px;">
                    <label class="sFloat-L" data-sortcell="all" style="margin-left:10px; color: #262d38; font: 400 14px Roboto;">Все
                      <input id="for0" type="radio" name="for" value="0" style="opacity:0; display:none; margin-left:9999px;">
                      <label for="for0" class="sBSInput"></label>
                    </label>
                    <label class="sFloat-L" data-sortcell="accept" style="margin-left:10px; color: #262d38; font: 400 14px Roboto;">Выполнено
                      <input id="for1" type="radio" name="for" value="1" style="opacity:0; display:none; margin-left:9999px;">
                      <label for="for1" class="sBSInput"></label>
                    </label>
                    <label class="sFloat-L" data-sortcell="decline" style="margin-left:10px; color: #262d38; font: 400 14px Roboto;">Отказ
                      <input id="for2" type="radio" name="for" value="2" style="opacity:0; display:none; margin-left:9999px;">
                      <label for="for2" class="sBSInput"></label>
                    </label>
                </div>

                <span style="vertical-align: bottom; line-height: 35px;">Страница 1 из 1</span>
                <span class="sRoute" data-route="b"></span>
                <span class="sRoute" data-route="f"></span>
          </div>
          <div class="sClear-Both"></div>
          
          <div class="sTableAreas" data-showtabs="1">
              <div class="sTableAreasFieldName">
                  <div class="sTableAreasField sNoneBorder" style="width:5%;">
                    <span>ID платежа</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Логин вебмастера</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>Сумма</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>Статус</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Дата подачи</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Дата обработки</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>Кошелёк</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>Действие</span>
                  </div>
              </div>

              {% for balance in balances_wait %}
              <div class="sTableAreasCell">
                  <div class="sTableAreasField sNoneBorder" style="width:5%;">
                    <span>{{ balance.pk }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.user.username }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>{{ balance.money }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span class="sBalanceAdmStatus" data-admstatus="{{ balance.get_status_display }}">{{ balance.showStatus }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.showCreateDate }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    {% if balance.status == "WAI" %}
                      <span class="sBalanceAdmStatus">{{ balance.showStatus }}</span>
                    {% else %}
                      <span>{{ balance.showUpdateDate }}</span>
                    {% endif %}
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>{{ balance.wmr }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span class="sDisplay-Inline sBalanceStatus" data-status="accept" data-id="{{ balance.pk }}" style="background-position:20px; padding:8px 20px; margin-top:0px; background-color: #e7e7e7; margin-left: 20px; "></span>
                    <span class="sDisplay-Inline sBalanceStatus" data-status="decline" data-id="{{ balance.pk }}" style="background-position:20px; padding:8px 20px; margin-top:0px; background-color: #e7e7e7;"></span>  
                  </div>
              </div>
              {% endfor %}

          </div>         

            <div class="sTableAreas" data-showtabs="2">
              <div class="sTableAreasFieldName">
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>ID платежа</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>Логин вебмастера</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>Сумма</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Статус</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Дата подачи</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Дата обработки</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>Кошелёк</span>
                  </div>
              </div>

              {% for balance in balances_not_wait %}
              <div class="sTableAreasCell">
                   <div class="sTableAreasField sNoneBorder" style="width:10%;">
                     <span>{{ balance.pk }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:20%;">
                    <span>{{ balance.user.username }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:10%;">
                    <span>{{ balance.money }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span class="sBalanceAdmStatus" data-admstatus="{{ balance.get_status_display }}">{{ balance.showStatus }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.showCreateDate }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.showUpdateDate }}</span>
                  </div>
                  <div class="sTableAreasField sNoneBorder" style="width:15%;">
                    <span>{{ balance.wmr }}</span>
                  </div>
              </div>
              {% endfor %}

          </div> 

      </div>
  </div>
	{% endblock %}

  {% block footer_script %}

        <script>

          $(function(){

            $('#date2').DatePicker({
              flat: true,
              format: 'd.m.Y',
              date: ['10.04.2016','30.04.2016'],
              current: '11.04.2016',
              calendars: 3,
              mode: 'range',
              starts: 1,
              onChange: function(formated, dates){
                $('#inputDate').val(formated[0]+" " +"-"+" "+formated[1]);
              }
            }).hide();
              
            $('.sListConstructors > span.sTabs').click(function(){
              $this = $(this); 
              $this.parent().find('span.sTabs').removeClass('sActive'); 
              $this.addClass('sActive'); 

              var tabNumber = $this.data('tabs'); 
              tabNumber=='2'? $('#sortWrapper').show() : $('#sortWrapper').hide();

              $('[data-showtabs]').hide();
              $('[data-showtabs="'+tabNumber+'"]').show();
            });

            // auto
            $('.sListConstructors > span.sTabs:nth-child(1)').click();
            $('[data-sortcell="all"]').click();
            setDatePicker("{{ dates_range_start }}", "{{ dates_range_end }}");
            $('#inputDate').val("{{ dates_range_start }} - {{ dates_range_end }}");
        
             $('[data-status]').click(function(){
                 var status = $(this).data('status');
                 var id = $(this).data('id');
                 
                $.ajax({ 
                  url: "{% url "admin-balance" %}", 
                  type: "POST", 
                  data: {
                    "status": status, 
                    "id": id
                  }, 
                  success: function(response, status, jqXHR) { 

                      if(response == 'OK'){
                          window.location.reload();
                      }else{
                          $('.sAlertMessageWrapper').text(response).fadeIn('slow');
                          window.setTimeout(function(){
                            $('.sAlertMessageWrapper').text('').fadeOut('slow');
                          },2000);
                      }

                      }
                 });

             }); 

             $('[data-sortcell]').click(function(){

                var sortBy = $(this).data('sortcell');
                var cells = $('[data-showtabs="2"] [data-admstatus]');

                $.each(cells, function(index, element){
                  $element = $(element);

                  if(sortBy=='all'){
                    $element.closest('.sTableAreasCell').show();
                  }
                  else{
                    if($element.data('admstatus')==sortBy){
                      $element.closest('.sTableAreasCell').show();
                    }else{
                      $element.closest('.sTableAreasCell').hide();
                    }
                  }

                });

             });

         }); 
            
          function setDatePicker(start, end){
              $('#date2').DatePickerSetDate([start, end], true);
          }

          function showDatePicker(){
              $('#date2').slideToggle(400);
          }

          function filterDateShow(){
              var daterange = $('#inputDate').val();
              document.location = "{% url "admin-balance" %}"+"?daterange="+daterange;
          }

        </script>

  {% endblock %}
