  {% extends "skeleton.html" %}

  {% block title %}{{ page.title }}{% endblock %}

  {% block content %}
    <div class="sBusyOverlay2" style="height: calc(100% - 139px); margin-top:62px; line-height:600px;">Обработка...</div>
    <div class="sContent-PB">
      <div class="sContainer sMargin-Auto">

          <div class="sH1Wrapper">
              <h1 class="sH1 sFloat-L">{{ page.header }}</h1>   
              <div class="sClear-Both"></div>
          </div>   
          
          <form id="SearchWebmaster" method="get" action="">
          </form>
          
          <div class="sInputWebmasterSearchWrapper">
            {% if q %}
            <input form="SearchWebmaster" name="q" class="sInputWebmasterSearch" id="sInputWebmasterSearch" type="text" placeholder="Поиск по ID/логину/почте" value="{{ q }}">
            {% else %}
            <input form="SearchWebmaster" name="q" class="sInputWebmasterSearch" id="sInputWebmasterSearch" type="text" placeholder="Поиск по ID/логину/почте">
            {% endif %}
            <span class="sSearchIcon" onclick="eventSearch()"></span>
          </div>
          
          <div class="sTableAreas" style="margin-bottom:40px; max-height: 680px; overflow-y: auto;">
            <div class="sTableAreasFieldName">
                <div class="sTableAreasField" style="width:54px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">ID</span>
                </div>
                <div class="sTableAreasField" style="width:128px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">Логин</span>
                </div>
                <div class="sTableAreasField" style="width:177px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">Email</span>
                </div>
                <div class="sTableAreasField" style="width:141px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">Skype</span>
                </div>
                <div class="sTableAreasField" style="width:125px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">WMR</span>
                </div>
                <div class="sTableAreasField" style="width:539px; text-align:center;">
                </div>
            </div>
            {% for cab in all_cabinets %}
            {% if cab.user.is_staff %}
                <div class="sTableAreasCell" style="color:#008bd4">
            {% elif cab.user.is_active == False %}
                <div class="sTableAreasCell" style="color:red">
            {% else %}
                <div class="sTableAreasCell">
            {% endif %}
              <div class="sTableAreasField" style="width:54px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">{{ cab.pk }}</span>
                </div>
                <div class="sTableAreasField" style="width:128px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">{{ cab.user.username }}</span>
                </div>
                <div class="sTableAreasField" style="width:177px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">{{ cab.user.email }}</span>
                </div>
                <div class="sTableAreasField" style="width:141px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">{{ cab.skype }}</span>
                </div>
                <div class="sTableAreasField" style="width:125px; text-align:center;"><span style="padding:0 10px 0 10px; text-align:center;">{{ cab.wmr }}</span>
                </div>
                <div class="sTableAreasField" style="width:539px;">
                  <a href="/admin/profile/{{ cab.user.pk }}" style="display:inline-block; line-height:41px!important; font: 400 16px Roboto; text-decoration: underline dotted rgb(47, 171, 246) !important; padding:0 40px 0 50px;">Посмотреть профиль</a>
                    <span class="sAdminButton sAdminButton-Yellow">Написать</span>
                    {% if cab.user.is_staff %}
                    {% elif cab.user.is_active %}
                        <span data-id="{{ cab.pk }}" data-status="false" onclick="eventChangeStatus(this)" class="sAdminButton sAdminButton-Gray">Забанить</span>
                    {% else %}
                        <span data-id="{{ cab.pk }}" data-status="true" onclick="eventChangeStatus(this)" class="sAdminButton sAdminButton-Gray">Разбанить</span>
                    {% endif %}
                </div>
            </div> 
            {% endfor %}
      </div>
    </div>
  {% endblock %}

  {% block footer_script %}
  <script>
    function eventSearch(){
        $('form#SearchWebmaster').submit();
    }
    function eventChangeStatus(e){
        $this = $(e);

        $.ajax({ 
          url: "/admin/change-status/", 
          method: "get", 
          data: {"id": $this.data('id'), "status": $this.data('status')}, 
          beforeSend: function(){
            $('.sBusyOverlay2').show();
          },
          success: function(response){ 
            console.log(response); 

            if (response.answer == 'ok'){
              if(response.status == 'false'){
                $this.data('status','true');
                $this.text('Разбанить');
                $this.closest('.sTableAreasCell').css('color','red');
              }
              else if(response.status == 'true'){
                $this.data('status','false');
                $this.text('Забанить');
                $this.closest('.sTableAreasCell').css('color','#32353c');
              }
            }

          },
          complete: function(){
            $('.sBusyOverlay2').hide();
          }

        });
    }
  </script>
  {% endblock %}
